* {
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-color: #1e1e1df0;
}

body {
    margin: 0;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0 .5em;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: xxx-large;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: color(rgb(30, 0, 255));
    text-decoration: underline
}


/* Dont stretch my Media */
img,
embed,
video,
object {
    max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}

header {
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #495153;
    justify-content: space-between;
    color: white;

}

.container {
    padding-inline: 8vw;
}

.simple-counter {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simple-counter h2 {
    margin-top: 0;
}

.btns {
    display: flex;
    gap: 10px;
}


.dark {
    background-color: #595959;
    color: white;
}

.animalList {
    background-color: rgb(177, 36, 36);
    max-width: 30%;


}


tbody {
    background-color: rgb(177, 36, 36)
}


td {
    border: 2px solid rgb(4, 1, 1);
}

.season-clock {
    background-color: #a0ccec;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.season-clock.dark {
    background-color: #031c56;
}



.count-down {
    /* padding-left: 40%; */
    padding-top: 20%;
    border-radius: 1%;
    border-width: 100px;
    border-color: grey;
    border-left-style: groove;
    border-right-style: groove;
    font-size: xxx-large;
    text-align: center;
}

.mouse-monitor-container {
    background-color: #0b0d0e;
    font-size: xxx-large;
    display: inline-block;
    text-align: center;


}

.links-container {
    font-size: large;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 35%;
    box-shadow: #c3c0d0;
    border-radius: 20%;
    background-color: rgb(43, 122, 212);
}

.red {
    color: red;
}


.watcher-container {
    background-color: rgb(205, 176, 139);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.watcher-box {
    border: 1px solid #150b0b;
    padding: 10px;
    margin: 10px;
    background-color: #d57d7d;
    display: inline-block;
    text-align: center;
}

img-watcher {
    width: 150px;
    height: 200px;

}